<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Where is it?</h1>
  </div>
</div>

<div class="row">
    <div class="col-xs-7 text-center">
      <span >Public Toilet</span>
    </div>
    <div class="col-xs-5">
      <button class="btn btn-primary btn-block">CATEGORY</button>
    </div>
</div>

<div class="row">
  <div class="col-xs-7 text-center">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="searchKeyword" name="searchKeyword" placeholder="Search Keyword">
      </div>
    </form>
  </div>
  <div class="col-xs-5">
    <button id="btnSearchKeyword" class="btn btn-primary btn-block">SEARCH</button>
  </div>
</div>

<div id="map" style="width: 100%; height: 400px;"></div>
<script>
    var map;
    var markers = [];

    function addMarker(item) {
        var marker = new google.maps.Marker({
            position: {lat: parseFloat(item.latitude), lng:parseFloat(item.longitude)},
            map: map,
            title: item.name
        });

        var contentString = '<div id="content">'+ item.name + '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });

        markers.push(marker);
    }

    // Sets the map on all markers in the array.
    function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }

    // Removes the markers from the map, but keeps them in the array.
    function clearMarkers() {
        setMapOnAll(null);
    }

    // Shows any markers currently in the array.
    function showMarkers() {
        setMapOnAll(map);
    }

    // Deletes all markers in the array by removing references to them.
    function deleteMarkers() {
        clearMarkers();
        markers = [];
    }

    function updateMapMarkers() {
        deleteMarkers();
        $.getJSON("/items.json?searchKeyword=" + $("#searchKeyword").val(), function(data){
            console.log(data);
            _.each(data, function(item) {
                addMarker(item, map);
            });
        });
    }

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 33.503243, lng: 126.519997},
            zoom: 13
        });

        updateMapMarkers();
    }

    function initEvent() {
        console.log("initEvent");
        $("#btnSearchKeyword").on("click", function(){
            console.log("click");
            updateMapMarkers();
        });
    }

    $(function(){
        initEvent();
    });

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_api_key']%>&callback=initMap" async defer></script>